<div id="sidebar">
	<a href="/"><img src="/images/logo_homepage.png" alt="logo" /></a>
	<div id="options">
		<a href="/settings"><span class="icon-cog"></span> account settings</a><a href="{{ logout_url }}"><span class="icon-logout"></span> logout</a></p>
	</div>
	{% if first_time %}
	  Welcome, <b>{{ name }}</b>!
	{% else %}
	  Welcome back, <b>{{ name }}</b>!
	{% endif %}	
	<nav>
	  <a href="/recipes/new">
	  	new recipe
	  	<span class="icon-new"></span>
	  </a>
	  {% if user_recipes_url %}
	  	<a href="{{ user_recipes_url }}">
	  		your recipes
	  		<span class="icon-author"></span>
	  	</a>
	  {% endif %}
	  <a href="/recipes/saved">
	  	saved recipes
	  	<span class="icon-saved"></span>
	  </a>
	  <a href="/recipes/all">
	  	all recipes
	  	<span class="icon-view-all"></span>
	  </a>
	</nav>
</div>