<!DOCTYPE html>
<html>
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfoJeJmD19uB8JZ-kfvJoKp5rxyRy7VOo"></script>
    <script>
      var geocoder;
      var addNewIngredient = function() {
        $("div#ingredientcontainer").append("<input type='text' class='ingredient' /><br />");
      }
      var submitNewRecipe = function(e) {
        // prevents it from submitting initially
        e.preventDefault();
        // creates an array and adds every ingredient entered
        var ingredients = []
        $("input.ingredient").each(
          function() {
            if ( $(this).val() != '' ) {
              ingredients[ingredients.length] = $(this).val();
            }
          }
        );
        // creates a string that we'll decode in python 
        ingredientsString = "";
        for (i = 0; i < ingredients.length; i++) {
          if (i == 0) {
            ingredientsString = "[\"" + ingredients[i] + "\"";
          } else if (i == ingredients.length - 1) {
            ingredientsString = ingredientsString + ", \"" + ingredients[i] + "\"]";
          } else {
            ingredientsString = ingredientsString + ", \"" + ingredients[i] + "\"";
          }
        }
        // adds that string to a hidden textfield 
        $("#allIngredients").val( ingredientsString );

        // gets city and converts to geopoint for database
        geocoder = new google.maps.Geocoder();
        var location = $("#location").val();
        geocoder.geocode( { 'address': location}, function(results, status) {
          if (status == google.maps.GeocoderStatus.OK) {
            calculatedLatLng = results[0].geometry.location;
            $("input#latlng").val( results[0].geometry.location );
            $("form").submit();
          } else {
            alert('Geocode was not successful for the following reason: ' + status);
          }
        });
      }
      $(document).ready(
        function() {
          $("a#newRow").on('click', addNewIngredient);
          $("input[type=submit]").on('click', submitNewRecipe);
        }
      );
    </script>
  </head>
  <body>
    {{ header }}

	{% if error %}
		{{ error }}
	{% else %}
    {% if success %}
      yay editted! <a href="{{ recipe.viewUrl() }}">view recipe here</a>
    {% endif %}
		<h2>edit recipe</h2>
	    <form action="/recipes/editted" method="post" enctype="multipart/form-data">
	      <label for="name">Recipe Name</label><br />
	      <input type="hidden" name="recipe_id" value="{{ recipe_id }}" />
	      <input type="text" name="name" value="{{ recipe.name }}" /><br />
	      <label for="cooktime">Cook Time</label><br />
	      <input type="text" name="cooktime" value="{{ recipe.cooktime }}" /><br />
	      <label for="instructions">Instructions</label><br />
	      <textarea name="instructions" placeholder="instructions here">{{ recipe.instructions }}</textarea><br />
	      <label for="servings">Servings</label><br />
	      <input type="text" name="servings" value="{{ recipe.servings }}" /><br />
	      <input type="hidden" name="author" value="{{ userID }}" /><br />
	      <label for="location">Location</label><br />
        <input type="hidden" id="latlng" name="location" />
	      <input type="text" value="{{ recipe.location_name }}" name="location_name" id="location" /><br />
	      <label for="ingredients">Ingredients</label><br />
	      <div id="ingredientcontainer">
	      	{% for ingredient in recipe.ingredients %}
	        	<input type="text" class="ingredient" value="{{ ingredient }}"/><br />
	        {% endfor %}
	      </div><br />
	      <a id="newRow" href="#">add new ingredient</a><br />
	      <input type="hidden" name="ingredients" id="allIngredients" />
        <img src="{{ recipe.imageUrl() }}" alt="current recipe image" />
        <label for="img">Upload a Photo</label>
        <input type="file" name="img"/>
	      <input type="submit" value="submit" />
	    </form>
	{% endif %} 
  </body>
</html>