<!DOCTYPE html>
<html>
	<head>
    <title>{{ title }} | Bites Without Borders</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link href="/css/main.css" rel="stylesheet" />
    <title>hey</title>
  </head>
  <body class="page recipes_view">
    <div class="container">
      {{ header }}
      <section class="author_info">
      	<div class="grid">
      		<div class="grid__col grid__col--2-of-6">
      			<h1>{{ author }}'s Recipes</h1>
      			{% if author_bio %}
      			{{ author_bio }}
      			{% endif %}
      		</div>
      		<div class="grid__col grid__col--2-of-6">
      			{% if author_pic %}
      				<div id="author_pic" style="background-image: url({{ author_pic }})"></div>
      			{% else %}
      				<div id="author_pic" style="background-image: url(/images/author_placeholder.png)"></div>
        		{% endif %}
      		</div>
      		<div class="grid__col grid__col--2-of-6">
        		<h2><span class="icon-location"></span>
        			{% if author_location %}
        			{{ author_location }}
        			{% else %}
        			Unknown
        			{% endif %}
        		</h2>
        		<h2><span class="icon-author"></span>
        			authored {{ recipes | length }} recipes
        		</h2>
      		</div>
      	</div>
      </section>
    </div>
    <div class="bg-white" id="recipe-snippets">
      <section>
      {% if error %}
      	{{ error }}
      {% else %}
	      {% if recipes %}
	        {% set index = 1 %}
	        {% for recipe in recipes %}
	          {% if index % 4 == 1 %}
	            <div class="grid">
	              <div class="grid__col grid__col--3-of-12 shade" style="background-image: url({{ recipe.imageUrl() }})">
	                <a class="recipe_view" href="{{ recipe.viewUrl() }}">
	                  <h2>view more</h2>
	                </a>
	                <h2><a href="{{ recipe.viewUrl() }}">{{ recipe.name }}</a></h2>
	                <div class="location">
	                  <span class="icon-location"></span>
	                  {{ recipe.location_name }}
	                </div>
	                <div class="thumbs_up">
	                  {{ recipe.thumbsUp }} <span class="icon-thumbs-up"></span>
	                </div>
	              </div>
	          {% elif index % 4 == 0 %}
	              <div class="grid__col grid__col--3-of-12 shade" style="background-image: url({{ recipe.imageUrl() }})">
	                <a class="recipe_view" href="{{ recipe.viewUrl() }}">
	                  <h2>view more</h2>
	                </a>
	                <h2>{{ recipe.name }}</h2>
	                <div class="location">
	                  <span class="icon-location"></span>
	                  {{ recipe.location_name }}
	                </div>
	                <div class="thumbs_up">
	                  {{ recipe.thumbsUp }} <span class="icon-thumbs-up"></span>
	                </div>
	              </div>
	            </div>
	          {% else %}
	              <div class="grid__col grid__col--3-of-12 shade" style="background-image: url({{ recipe.imageUrl() }})">
	                <a class="recipe_view" href="{{ recipe.viewUrl() }}">
	                  <h2>view more</h2>
	                </a>
	                <h2>{{ recipe.name }}</h2>
	                <div class="location">
	                  <span class="icon-location"></span>
	                  {{ recipe.location_name }}
	                </div>
	                <div class="thumbs_up">
	                  {{ recipe.thumbsUp }} <span class="icon-thumbs-up"></span>
	                </div>
	              </div>          
	          {% endif %}
	          {% set index = index + 1 %}
	        {% endfor %}
	      {% else %}
	        there are no recipes in the database
	      {% endif %} 
	    {% endif %}
      </section>
    </div>
  </body>
</html>