<!DOCTYPE html>
<html>
	<head>
    <title>{{ title }} | Bites Without Borders</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
      var thumbsUp = function(recipeID) {
      	$.ajax(
      		{
      			type: "POST", 
      			url: "/recipes/thumbsUp",
      			dataType: 'json', 
      			data: JSON.stringify({ "recipeID": recipeID })
      		}
      	)
      	.done(
      		function(data) {
            $(".thumbsUpCount").text(data['recipe_thumbsUp']);
            $(".net_thumbs").text(data['net_thumbs']);
      		}
      	);
      };
    </script>
    <link href="/css/main.css" rel="stylesheet" />
   </head>
  <body class="page">
    <div class="container">
      {{ header }}
      <section class="recipe_photo" style="background: url({{ recipe.imageUrl() }}) no-repeat center center; background-size: cover;">
        {{ recipe.name }}
      </section>
      <section class="grid bg-white">
        <div class="grid__col recipe_info grid__col--2-of-12 grid__col--push-2-of-12">
          <span class="icon-servings"></span>
          <b>Serves</b> {{ recipe.servings }}
        </div>
        <div class="grid__col recipe_info grid__col--2-of-12 ">
          <span class="icon-cookingtime"></span>
          <b>Ready In</b> {{ recipe.cooktime }}
        </div>
        <div class="grid__col recipe_info grid__col--2-of-12">
          <span class="icon net_thumbs">
          {% if recipe.thumbsUp %}
            {{ recipe.thumbsUp }}
          {% else %}
            0
          {% endif %}
          </span>
          <a href="javascript:thumbsUp('{{recipe.key.id()}}');">
            <span class="icon-thumbs-up"></span>
          </a>
          <span class="thumbsUpCount">
          {% if recipe.thumbsUp %} 
            {{ recipe.thumbsUp }}
          {% else %}
            0
          {% endif %}
          </span>
        </div>
        <div class="grid__col recipe_info grid__col--2-of-12">
          <span class="icon-location"></span>
          <b>From</b> {{ recipe.location_name }}
        </div>
      </section>
      <section class="grid bg-white">
        <div class="grid__col grid__col--2-of-12 grid__col--push-2-of-12">
          <h2>Ingredients</h2>
          <ul>
          {% for ingredient in recipe.ingredients %}
            <li>{{ ingredient }}</li>
          {% endfor %}
          </ul>
          <h2>Author</h2>
          <a href="/recipes/by/{{ recipe.author }}">View more recipes by {{ recipe_author_name }}.</a>
          {% if isOwner %}
            <h2>Options</h2>
            <a class="owner_controls" href="{{ recipe.editUrl() }}"><span class="icon-pencil"></span>edit recipe</a>
            <a class="owner_controls" href="{{ recipe.deleteUrl() }}"><span class="icon-trash"></span>delete recipe</a>
          {% endif %}
        </div>
        <div class="grid__col grid__col--6-of-12">
          <h2>Instructions</h2>
          <ol>
            {% for instruction in recipe.instructions %}
            <li>{{ instruction }}</li>
            {% endfor %}
          </ol>
        </div>
      </section>
    </div>
  </body>
</html>
		