<!DOCTYPE html>
<html>
	<head>
    <title>{{ title }} | Bites Without Borders</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link href="/css/main.css" rel="stylesheet" />
    <title>hey</title>
  </head>
  <body class="page recipes_view">
    <div class="container">
      {{ header }}
    </div>
    <div class="bg-white" id="recipe-snippets">
      <section>
        <h1>Recipe Removed</h1>
        You have removed the recipe from your list of saved recipes.
      </section>
    </div>
  </body>
</html>