.page {
	background: url('/images/bg.jpg') no-repeat;
	background-size: cover;
	background-position: center center;
	header {
		background: rgba(255, 255, 255, 0.5);
		padding: 25px; 
	}
	nav {
		display: inline-block;
		float: right; 
		a {
			@include border-radius(3px);
			color: $color-primary-lighter; 
			background: #f7f7f7;
			display: inline-block;
			font-weight: 500;
			line-height: 20px; 
			margin: 15px 10px;
			padding: 15px 25px; 
			text-align: center; 
			text-transform: uppercase;
			vertical-align: middle;
			&:hover {
				background: $color-secondary;
				color: $white;
			}
		}
	}
}

div.status {
	padding: 15px;
	&.error {
		background: $error;
		color: $white;
	}
	&.success {
		background: $success;
		color: $white;
		a {
			color: $white;
		}
	}
}

.error {
	color: $white;
	height: 100%;
	& > div {
		background: darken($error, 25);
		display: table;
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		div {
			height: 100%;
			display: table-cell; 
			vertical-align: middle;
			text-align: center;
			a {
				color: $white;
				font-size: 1.5em;
			}
		}
	}
}