.recipes_view {
  #recipe-snippets {
    padding: 50px 0;
    width: 100%;
    section {
      width: 90%;
      margin: auto;
    }
    h2 {
      text-shadow: 3px 3px 3px rgba(0,0,0,.5);
      background: rgba(0,0,0,0.5);
      display: inline-block; 
      margin: 25px auto;
      a {
        background: rgba(0,0,0,.5);
        color: #fff;
      }
    }
  }
  #recipe-snippets .grid__col {
    border-left: 12.5px solid #fff;
    border-right: 12.5px solid #fff;
    position:relative;
    background-size: cover;
    background-position: center center;
  }
  .shade {
    height:250px;
    background-color: $color-primary-lighter;
    margin-bottom:50px;
    text-align:center;
    color:white;
    background-size:100% 100%;
  }
  div.view_more {
    right: 10px;
  }
  div.location {
    left: 10px;
  }
  div.location, div.view_more {
    position:absolute;
    bottom: 10px;
    background: rgba(0,0,0,0.65);
  }
  div.view_more a {
    color:white;
  }
}
section.author_info {
  background: url('/images/author_bg.png');
  color: $white;
  padding: 45px 5%;
  #author_pic {
    @include border-radius(50%);
    border: 10px solid $white;
    background-size: cover;
    width: 200px;
    height: 200px;
    background-color: #fff;
    background-position: center center;
    margin: 0 auto;
    display: block;
  }
  .grid__col {
    vertical-align: center;
  }
  .grid__col:first-child {
    text-align: right;
    font-size: 18px;
  }
  h1 {
    color: #fff;
    font-size: 1.5em;
    text-align: right;
  }
}